[Unit]
Description=Pi-hole FTLDNS engine

[Service]
Type=simple
PIDFile=/run/pihole-FTL.pid
ExecStart=/usr/bin/pihole-FTL no-daemon
#ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
CPUSchedulingPolicy=other
LimitRTTIME=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
